In [1]:
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv",
                low_memory=False
                )
df.head()

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County
0,Senior,5,0,75 years and over,Main,Nov,2022,Email,True,2015,False
1,Adult,0,0,45 to 54 years,Main,Jul,2023,Email,True,2019,False
2,Adult,0,0,55 to 59 years,Western Addition,Mar,2024,Email,True,2022,False
3,Welcome,1,1,20 to 24 years,Richmond,Aug,2022,Email,True,2022,False
4,Senior,0,0,65 to 74 years,Sunset,Mar,2024,Print,False,2023,False

In [2]:
df['Circulation Active Year'] = pd.to_numeric(
  df['Circulation Active Year'], 
    errors='coerce'
)
df['Circulation Active Year']

0         2022.0
1         2023.0
2         2024.0
3         2022.0
4         2024.0
           ...
450354       NaN
450355    2022.0
450356    2022.0
450357    2022.0
450358    2023.0
Name: Circulation Active Year, Length: 450359, dtype: float64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450359 entries, 0 to 450358
Data columns (total 11 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Definition        450359 non-null  object
 1   Total Checkouts               450359 non-null  int64
 2   Total Renewals                450359 non-null  int64
 3   Age Range                     450359 non-null  object
 4   Home Library Definition       450359 non-null  object
 5   Circulation Active Month      450359 non-null  object
 6   Circulation Active Year       410042 non-null  float64
 7   Notice Preference Definition  450359 non-null  object
 8   Provided Email Address        450359 non-null  bool
 9   Year Patron Registered        450359 non-null  int64
 10  Within San Francisco County   450359 non-null  object
dtypes: bool(1), float64(1), int64(3), object(6)
memory usage: 34.8+ MB

In [4]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%b"
)
df['Circulation Active Month']

0        1900-11-01
1        1900-07-01
2        1900-03-01
3        1900-08-01
4        1900-03-01
            ...
450354          NaT
450355   1900-08-01
450356   1900-08-01
450357   1900-04-01
450358   1900-04-01
Name: Circulation Active Month, Length: 450359, dtype: datetime64[ns]

In [5]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0         11.0
1          7.0
2          3.0
3          8.0
4          3.0
          ...
450354     NaN
450355     8.0
450356     8.0
450357     4.0
450358     4.0
Name: Circulation Active Month, Length: 450359, dtype: float64

In [6]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

In [7]:
df['Membership Duration'] = df['Membership Duration'].fillna(0)
df['Membership Duration']

0         95.0
1         55.0
2         27.0
3          8.0
4         15.0
          ...
450354     0.0
450355     8.0
450356     8.0
450357     4.0
450358     4.0
Name: Membership Duration, Length: 450359, dtype: float64

In [8]:
df.head()

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,Membership Duration
0,Senior,5,0,75 years and over,Main,11.0,2022.0,Email,True,2015,False,95.0
1,Adult,0,0,45 to 54 years,Main,7.0,2023.0,Email,True,2019,False,55.0
2,Adult,0,0,55 to 59 years,Western Addition,3.0,2024.0,Email,True,2022,False,27.0
3,Welcome,1,1,20 to 24 years,Richmond,8.0,2022.0,Email,True,2022,False,8.0
4,Senior,0,0,65 to 74 years,Sunset,3.0,2024.0,Print,False,2023,False,15.0