In [14]:
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv",
                 na_values="Null",
                 low_memory=False
                )
df.columns

Index(['Patron Type Definition', 'Total Checkouts', 'Total Renewals',
       'Age Range', 'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Definition',
       'Provided Email Address', 'Year Patron Registered',
       'Within San Francisco County'],
      dtype='object')

In [15]:
df['Year Patron Registered'].value_counts(normalize=True)

2023    0.132654
2022    0.115015
2003    0.088927
2021    0.072678
2019    0.072502
2020    0.065870
2017    0.064515
2018    0.062939
2016    0.048117
2015    0.043767
2014    0.033917
2013    0.028750
2012    0.027600
2011    0.026841
2009    0.024580
2010    0.024363
2008    0.021705
2007    0.014033
2006    0.011302
2005    0.010263
2004    0.009661
Name: Year Patron Registered, dtype: float64

In [16]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.211800
35 to 44 years       0.190439
10 to 19 years       0.150624
45 to 54 years       0.110748
0 to 9 years         0.073758
65 to 74 years       0.072146
20 to 24 years       0.060342
75 years and over    0.046062
55 to 59 years       0.043870
60 to 64 years       0.040209
Name: Age Range, dtype: float64

In [17]:
df['Age Range'].isna().sum()

510

In [18]:
age_range_mode = df['Age Range'].mode()[0]
df['Age Range'].fillna(age_range_mode, inplace=True)

In [19]:
df['Age Range'].isna().sum()

0

In [20]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.212693
35 to 44 years       0.190224
10 to 19 years       0.150453
45 to 54 years       0.110623
0 to 9 years         0.073675
65 to 74 years       0.072065
20 to 24 years       0.060274
75 years and over    0.046010
55 to 59 years       0.043821
60 to 64 years       0.040164
Name: Age Range, dtype: float64

In [21]:
df['Total Renewals'].agg(lambda x: x.std()/x.mean())

3.873868313954441

In [22]:
df['Total Renewals'].std()/df['Total Renewals'].mean()

3.873868313954441